<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section>
      {{!--prettier-ignore--}}
      <script>
        Include('/hbs/component/SubVisual_1-a.hbs', {
          mo: ``,
          pc: ``
        });
      </script>
    </section>
    {{!--CONTENTS--}}
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>