<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <script>Include('/hbs/module/2309200952.hbs');</script>
  <main>
    <section class='Sticky_1'>
      <script>Include('/hbs/component/TabBar_1-a.hbs', {btns:'ESG|캠페인', active:0});</script>
    </section>
    <section class='mt-[60px] pc:mt-[100px]' data-aos='fade-up' data-aos-duration='500'>
      <div class='HBox'>
        <div class='Inner'>
          <div>
            <div data-only-view='MO' class='text-[#161616] text-[30px] font-[700] leading-[38px] text-center'>
              사람과 환경이
              <br />
              <span class='text-[#279FB9]'>건강</span>해지는 세상
            </div>
            <div data-only-view='PC' class='text-[#161616] text-[50px] font-[700] leading-[70px] text-center'>
              사람과 환경이 <span class='text-[#279FB9]'>건강</span>해지는 세상
              <br />
              엠허브제노플랜은 지속가능한 미래를 위해
              <br />
              약속과 책임, 변화와 혁신을 만들어 가겠습니다.
            </div>
            <div class='mt-[20px] pc:mt-[40px] mx-auto w-[2px] h-[30px] pc:h-[40px] bg-[#161616] text-[0]'></div>
          </div>
        </div>
      </div>
    </section>
    <section class='mt-[40px] pc:mt-[60px]' data-aos='fade-up' data-aos-duration='500'>
      <div class='pc:px-[var(--contents-side-padding)]'>
        <img class='pc:hidden aspect-[360/400] w-full' src='/assets/image/2309201007.jpg' alt='' />
        <img class='max-pc:hidden aspect-[1440/500] w-full' src='/assets/image/2309201007_pc.jpg' alt='' />
      </div>
    </section>
    <section class='pc:hidden mt-[40px]' data-aos='fade-up' data-aos-duration='500'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='text-[#161616] text-[30px] font-[700] leading-[38px] text-center break-keep'>
            엠허브제노플랜은
            지속가능한 미래를 위해
            약속과 책임, 변화와 혁신을
            만들어 가겠습니다.
          </div>
        </div>
      </div>
    </section>
    <section class='mt-[100px] pc:mt-[160px]'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/module/2309201016.hbs');</script>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>