<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <script>Include('/hbs/module/2309252023.hbs');</script>
  <main>
    <section class='Sticky_1'>
      <script>Include('/hbs/component/TabBar_1-a.hbs', {btns:'PR|특허 / 인증현황|수상내역', active:0});</script>
    </section>
    <script>Include('/hbs/component/SubPageTitle_1-a.hbs', {txt1:'PR'});</script>
    <section class='mt-[40px] pc:mt-[100px]'>
      <div class='HBox'>
        <div class='Inner'>
          <div>
            <script>Include('/hbs/component/BoardViewWrap_1-b.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>