<div class='Alert_1 w-[300px] pc:w-[360px]'>
  <div class='Body'>
    <div class='text-2227b86bc'>
      게시물의 링크가 복사되었습니다.
    </div>
    <div class='mt-[20px] text-13232b4f2'>
      Ctrl + V [붙여넣기]를 통해 게시글을
      <br />
      공유할 수 있습니다.
    </div>
  </div>
  <div class='Foot'>
    <div>
      <button class='ButtonUi Style1 w-full' data-form-hei='Lg' onclick="LayerPopup.close();">
        확인
      </button>
    </div>
  </div>
</div>