<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309261159.jpg`,
      pc: `/assets/image/2309261159_pc.jpg`,
      txt1:`엠허브제노플랜의<br/>시작`,
      txt2:`제노플랜의 2014년과 그 발자취를 함께 합니다.`,
    });
  </script>
</section>