<div class="SubVisualWrap">
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309132031.jpg`,
      pc: `/assets/image/2309132031_pc.jpg`,
      txt1: `엠허브제노플랜은<br/>건강의 시작입니다.`,
      txt2: `엠허브제노플랜과 함께 건강한 미래를 계획하세요.`,
    });
  </script>
</div>