<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309252025.jpg`,
      pc: `/assets/image/2309252025_pc.jpg`,
      txt1:`엠허브제노플랜의<br/>세상`,
      txt2:`유전자 검사 서비스를 제공하며<br/>건강관리의 새로운 솔루션이 되고 있습니다.`,
    });
  </script>
</section>