<header class='Header_2 FixedHeader'>
  <div data-only-view='MO'>
    <script>Include('/hbs/layout/MoTopActionBar_1-a.hbs');</script>
  </div>
  <div data-only-view='PC'>
    <script>Include('/hbs/layout/PcTopActionBar_1-a.hbs');</script>
  </div>
</header>