<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309201606.jpg`,
      pc: `/assets/image/2309201606_pc.jpg`,
      txt1:`견고한 파트너십`,
      txt2:`국내외 다수 선도기업으로부터<br/>유전자 분석 기술력을 인정받았습니다.`,
    });
  </script>
</section>