<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309201157.jpg`,
      pc: `/assets/image/2309201157_pc.jpg`,
      txt1:`건강한 미래를 위한<br/>여정`,
      txt2:`미래가치를 함께 만들어가며 성장하고 발전하는 것이 엠허브제노플랜의 목표입니다.`,
    });
  </script>
</section>