<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309140703.jpg`,
      pc: `/assets/image/2309140703_pc.jpg`,
      txt1:`제노플랜의<br/>한국 공식 총판`,
      txt2:`엠허브제노플랜은 제노플랜의 병의원 유전자검사, DTC유전자검사를<br class="max-pc:hidden"/>병의원과 온라인 제휴사를 통해 서비스를 제공합니다.`,
    });
  </script>
</section>