<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309200953.jpg`,
      pc: `/assets/image/2309200953_pc.jpg`,
      txt1:`엠허브제노플랜이<br/>향하는 길`,
      txt2:`미래가치를 함께 만들어가며 성장하고 발전하는 것이 엠허브제노플랜의 목표입니다.`,
    });
  </script>
</section>