<section>
  {{!--prettier-ignore--}}
  <script>
    Include('/hbs/component/SubVisual_1-a.hbs', {
      mo: `/assets/image/2309141149.jpg`,
      pc: `/assets/image/2309141149_pc.jpg`,
      txt1:`유전자 검사<br/>서비스`,
      txt2:`나의 질병 위험을 알려주는 건강 알리미 입니다.`,
    });
  </script>
</section>