<div class='GNB_2'>
  <ul>
    {{#EACH (ARR 'MHUBGENOPLAN|SERVICE|PARTNER|NEWS|ESG|CONTACT US')}}
      <li>
        <a href='https://www.google.com' target='_blank'>
          {{obj}}
        </a>
      </li>
    {{/EACH}}
  </ul>
</div>