{{SAFE 'txt1'}}
<div class='SubPageTitle_1 mt-[30px] pc:mt-[80px]'>
  <div class='HBox'>
    <div class='Inner'>
      <article class='CenterBetween'>
        <div>
          <div class='text-[#303030] text-[28px] pc:text-[50px] font-[800]'>
            {{{txt1}}}
          </div>
        </div>
        <div>
          {{#if txt2}}
            <div data-only-view='PC' class='text-[#161616] text-[18px] font-[400]'>
              {{txt2}}
            </div>
          {{/if}}
        </div>
      </article>
    </div>
  </div>
</div>