<div class='Alert_1 w-[300px] pc:w-[360px]'>
  <div class='Body'>
    <div class='text-e2a9f6a9'>
      입력되지 않은 항목이 있습니다.
    </div>
    <div class='mt-[8px] pc:mt-[20px] text-acf05ca'>
      모든 항목을 입력해주시기 바랍니다.
    </div>
  </div>
  <div class='Foot'>
    <div>
      <button class='ButtonUi Style1 w-full' data-form-hei='Lg' onclick="LayerPopup.close();">
        다시입력하기
      </button>
    </div>
  </div>
</div>