<div class='SelectOption_1' style='width: 302px'>
  <div class='Body'>
    <div class='Title'>프로필 사진 설정</div>
    <button class='Button'>사진 보관함</button>
    <button class='Button'>사진찍기</button>
    <button class='Button'>기본 이미지로 변경 </button>
    <button class='Button'>취소</button>
  </div>
</div>