<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <script>Include('/hbs/module/2309201157.hbs');</script>
  <main>
    <section class='Sticky_1'>
      <script>Include('/hbs/component/TabBar_1-a.hbs', {btns:'ESG|캠페인', active:1});</script>
    </section>
    <script>Include('/hbs/component/SubPageTitle_1-a.hbs', {txt1:'캠페인'});</script>
    <section class='mt-[40px] pc:mt-[100px]'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/module/2309201222.hbs');</script>
        </div>
      </div>
    </section>
    <section class='mt-[80px] pc:mt-[100px]'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/Paging_1-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>