<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <br/>
    <section>
      <div class='HBox'>
        <div class='Inner'>
          <button class='ButtonUi Style1 w-full' data-form-hei='Md' onclick="LayerControl.On(`#LayerPopup-2cce97c6`);">ButtonUi</button>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
<div id="LayerPopup-2cce97c6" class='LayerPopup Bottom'>
  <script>Include('/hbs/layer/BottomSheet_1-a.hbs');</script>
</div>