<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <script>Include('/hbs/module/2309141143.hbs');</script>
  <main>
    <section class='mt-[30px] pc:mt-[50px]'>
      <div class='pc:w-[1270px] mx-[20px] pc:mx-auto'>
        <div class='text-[#303030] text-[28px] pc:text-[50px] font-[800] leading-[34px] pc:leading-[60px]'>
          MHUB.
          <br />
          GENOPLAN
        </div>
        <div class='mt-[60px] pc:mt-[100px]'>
          <article class='pc:flex pc:items-center pc:justify-between pc:gap-0'>
            <div class='text-[#161616] font-[600]' data-aos='fade-up'>
              <div class='pc:hidden text-[18px] leading-[26px]'>
                엠허브제노플랜은
                <br />
                미국 본사, 한국, 일본,
                <br />
                싱가포르 법인을 중심으로
                <br />
                유전자 분석 기반의 다양한 서비스를 전개하며
                <br />
                성장하는 제노플랜의 한국 공식 총판입니다.
              </div>
              <div class='max-pc:hidden text-[40px] leading-[50px]'>
                엠허브제노플랜은
                <br />
                미국 본사, 한국, 일본, 싱가포르 법인을 중심으로
                <br />
                유전자 분석 기반의 다양한 서비스를 전개하며
                <br />
                성장하는 제노플랜의 한국 공식 총판입니다.
              </div>
            </div>
            <div class='mt-[30px] pc:mt-0'>
              <div class='text-[#161616] text-[16px] pc:text-[20px] font-[400] leading-[24px] pc:leading-[30px]'>
                더 나은 세상, 더 건강한 미래라는
                <br />
                캐치프레이즈 실현을 위해
                <br />
                사람과 환경이 건강해지는 세상을
                <br />
                제노플랜과 함께 만들어 가겠습니다.
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class='mt-[60px] pc:mt-[120px]'>
      <article class='CenterCenter items-start gap-[1.6%] max-w-[1240px] mx-auto'>
        <div class='flex-1 mt-[10%]' data-aos='fade-up' data-aos-duration='500'>
          <img class='w-full'  src='/assets/image/2309141107_pc.jpg' alt='' />
        </div>
        <div class='relative flex-1 mt-[18.05%]' data-aos='fade-up' data-aos-duration='500' data-aos-delay='200'>
          <div>
            <img class='w-full' src='/assets/image/2309141108_pc.jpg' alt='' />
          </div>
          <article class='CenterCenter absolute top-0 left-0 z-10 w-full h-full'>
            <img class='w-[100px] pc:w-[170px]' src='/assets/icon/2309121936.svg' alt='' />
          </article>
        </div>
        <div class='flex-1' data-aos='fade-up' data-aos-duration='500' data-aos-delay='400'>
          <img class='w-full' src='/assets/image/2309141109_pc.jpg' alt='' />
        </div>
      </article>
    </section>
    <section class='mt-[120px] pc:mt-[220px]'>
      <article class='max-w-[1920px] mx-auto pc:flex pc:items-center pc:justify-center pc:gap-0'>
        <div class='relative pc:flex-1' data-aos='fade-up'>
          <div>
            <img class='w-full' src='/assets/image/2309141127_pc.jpg' alt='' />
          </div>
          <article class='CenterCenter absolute top-0 left-0 z-10 w-full h-full'>
            <img class='w-[60px] pc:w-[140px]' src='/assets/icon/2309121942.svg' alt='' />
          </article>
        </div>
        <div class='relative pc:flex-1 mt-[10px] pc:mt-0' data-aos='fade-up'>
          <div>
            <img class='w-full' src='/assets/image/2309141128_pc.jpg' alt='' />
          </div>
          <article class='CenterCenter absolute top-0 left-0 z-10 w-full h-full'>
            <img class='w-[170px] pc:w-[280px]' src='/assets/icon/2309121943.svg' alt='' />
          </article>
        </div>
      </article>
    </section>
    <section class='mt-[80px] pc:mt-[163px]'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='pc:w-[874px] pc:mx-auto'>
            <article class='CenterCenter'>
              <img class='w-[120px] pc:w-[140px]' src='/assets/icon/2309121944.svg' alt='' />
              <div class='ml-[6px] pc:ml-[10px] text-[#161616] text-[18px] pc:text-[22px] font-[600]'>
                한국 공식 총판
              </div>
            </article>
            <div class='mt-[46px] pc:mt-[51px] border-[3px] border-solid border-[#161616]'></div>
            <div class='mt-[60px] text-center'>
              <div class='text-[#161616] text-[22px] pc:text-[28px] font-[600]'>
                (주)엠허브제노플랜
              </div>
              <div class='mt-[40px] pc:mt-[42px]'>
                <div class='text-[#161616] text-[16px] pc:text-[22px] font-[400] leading-[24px] pc:leading-[22px] space-y-[22px] lg:space-y-[16px]'>
                  <article class='max-pc:space-y-[22px] pc:flex pc:items-center pc:justify-center'>
                    <div class='pc:w-[164px] pc:text-right'>
                      대표 : 전병주
                    </div>
                    <div class='max-pc:hidden mx-[20px] w-[1px] h-[26px] bg-[#e1e1e1]'></div>
                    <div class='pc:w-[352px] pc:text-left'>
                      사업자등록번호 : 747-88-02726
                    </div>
                  </article>
                  <article class='max-pc:space-y-[22px] pc:flex pc:items-center pc:justify-center'>
                    <div class='pc:w-[164px]'>
                      TEL : 1566-1826
                    </div>
                    <div class='max-pc:hidden mx-[20px] w-[1px] h-[26px] bg-[#e1e1e1]'></div>
                    <div class='pc:w-[352px]'>
                      E-Mail : help@mhubgenoplan.com
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>