<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <script>Include('/hbs/module/2309141145.hbs');</script>
  <main class='pb-0'>
    <section class='Sticky_1'>
      <script>Include('/hbs/component/TabBar_1-a.hbs', {btns:'병의원 검사 PRS|병의원 검사 ECS|DTC 검사', active:1});</script>
    </section>
    <script>Include('/hbs/component/SubPageTitle_1-a.hbs', {txt1:'병의원 검사 ECS', txt2:'공급사 | 제노플랜 코리아'});</script>
    <section class='mt-[60px] pc:mt-[100px]'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='relative'>
            <div>
              <img class='pc:hidden aspect-[320/440] w-full' src='/assets/image/2309181625.jpg' alt='' />
              <img class='max-pc:hidden aspect-[1440/500] w-full' src='/assets/image/2309181625_pc.jpg' alt='' />
            </div>
            <article class='CenterCenter flex-col px-[14px] text-white text-center absolute top-0 left-0 z-10 w-full h-full'>
              <div>
                <div class='text-[20px] pc:text-[40px] font-[700]'>
                  ECS 서비스
                </div>
              </div>
              <div class='mt-[20px]'>
                <div class='text-[14px] pc:text-[20px] font-[400] leading-[20px] pc:leading-[30px] break-keep'>
                  <span class='pc:block'>확장 보인자 검사는 임신 전에 수행하는 테스트로,</span>
                  <span class='pc:block'>부모가 자신의 자녀에게 잠재적으로 전달할 수 있는 유전적 질환을 식별하는 것입니다.</span>
                  <span class='pc:block'>이 검사를 통해 부모는 자녀에게 특정 유전질환에 대한 원인 유전변이를</span>
                  전달할 가능성을 결정할 수 있습니다.
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class='mt-[60px] pc:mt-[80px] Box_1440'>
      <div class='max-pc:mx-[var(--contents-side-padding)] text-[#161616] text-[20px] pc:text-[40px] font-[700]'>
        ECS (확장 보인자 검사) 서비스
      </div>
      <div class='mt-[40px] pc:mt-[80px]'>
        <script>Include('/hbs/swiper/ServiceSwiper_2.hbs', {id:'bc0e098d'});</script>
      </div>
    </section>
    <section class='mt-[42px] pc:mt-[160px]'>
      <article class='CenterLeft h-[750px] pc:h-[872px] overflow-x-auto'>
        <div class='h-full flex-1'>
          <article class='CenterCenter flex-col max-pc:min-w-[320px] h-full px-[20px] pc:pr-[10.52%] pc:pl-[25.26%] text-[#161616] bg-[#EBEBEB] text-left'>
            <div>
              <div class='pc:hidden text-[20px] pc:text-[40px] font-[700]'>
                유전자 검사 서비스
              </div>
              <div class='max-pc:hidden text-[#161616] text-[40px] font-[700] leading-[50px]'>
                ECS (확장 보인자검사) 서비스
              </div>
              <div class='mt-[80px]'>
                <div class='text-[18px] pc:text-[30px] font-[600] pc:font-[700] leading-[24px] pc:leading-[40px]'>
                  대부분의 사람들은 보인자이지만
                  <br />
                  건강합니다.
                </div>
              </div>
              <div class='mt-[30px] pc:mt-[40px]'>
                <div class=' text-[14px] pc:text-[20px] font-[400] leading-[20px] pc:leading-[30px] break-keep'>
                  건강한 사람들은 유전적 장애를 가진 유전변이를 가지고
                  있을 수 있지만, 증상을 나타내지 않습니다(보인자).
                  이는 질병 원인 변이를 가진 유전자 한 개와 정상적으로
                  작동하는 다른 유전자 한개만 가지고 있기 때문입니다.
                  그러나, 당신과 파트너가 동일한 질병 원인 변이를 가진 운반자라면, 자녀가 유전적 장애를 가질 확률은 25%
                  입니다.
                  이러한 것들은 ‘상염색체 열성 장애’라고 불리며,
                  저희 테스트 서비스로 스크리닝되는 대부분의 장애에
                  해당합니다.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class='h-full flex-1'>
          <article class='CenterCenter flex-col max-pc:min-w-[320px] h-full max-pc:px-[20px] bg-[#F6F6F6] border-y-[1px] border-solid border-[#EBEBEB]'>
            <div>
              <img class='pc:hidden aspect-[320/470] w-full' src='/assets/image/2309181710.png' alt='' />
              <img class='max-pc:hidden aspect-[960/872]' src='/assets/image/2309181710_pc.png' alt='' />
            </div>
          </article>
        </div>
      </article>
    </section>
    <section class='mt-[80px] pc:mt-[160px]'>
      <div class='relative'>
        <div class='h-[600px] pc:h-[400px] bg-[url(/assets/image/2309252024.jpg)] bg-fixed bg-center bg-cover bg-no-repeat'></div>
        <div class='absolute top-0 left-0 w-full h-full px-[var(--contents-side-padding)]'>
          <article class='h-full CenterCenter max-pc:flex-col'>
            <div>
              <div class='text-white text-[18px] pc:text-[24px] font-[600] pc:font-[900]'>
                Population Genomice
              </div>
            </div>
            <div class='max-pc:my-[30px] pc:mx-[130px]'>
              <div class='w-[1px] h-[50px] pc:h-[110px] bg-[#EBEBEB] text-[0]'></div>
            </div>
            <div>
              <div class='text-white text-[14px] pc:text-[18px] font-[400] leading-[20px] pc:leading-[34px] break-keep text-center'>
                고객들이 유전적 장애에 대한 잠재적인 운반자 상태를 판별하고, 건강한 임신을 위한 계획을 세우며
                <br />
                건강한 아이를 가질 수 있는 가능성을 보장하는데 도움을 드립니다.
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class='mt-[80px] pc:mt-[160px]'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='text-[#161616] text-[20px] pc:text-[40px] font-[700]'>
            Genoplan ECS Reports
          </div>
          <div class='mt-[40px] pc:mt-[80px]'>
            <article class='pc:flex pc:items-start pc:justify-center pc:gap-0'>
              <div data-aos='fade-up' data-aos-duration='500'>
                <img class='pc:hidden aspect-[320/240] w-full' src='/assets/image/2309181745.jpg' alt='' />
                <img class='max-pc:hidden aspect-[840/500]' src='/assets/image/2309181745_pc.jpg' alt='' />
              </div>
              <div class='flex-1 max-pc:mt-[40px] space-y-[30px] pc:space-y-[40px] pc:ml-[3.81%] pc:min-w-[37.84%]'>
                <article class='flex items-start gap-0'>
                  <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[900]'>
                    01
                  </div>
                  <div class='ml-[10px] pc:ml-[16px] flex-1'>
                    <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[600]'>
                      320개 이상의 유전적 질환의 보인자 검사
                    </div>
                    <div class='mt-[16px] text-[#161616] text-[14px] pc:text-[16px] font-[400] leading-[24px] max-pc:space-y-[2px]'>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          아시아인에서 높은 빈도로 나타나는 유전적 장애에 대한 검사
                        </div>
                      </article>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          운반자 스크리닝에 권장되는 ACMG 유전자들의 높은 커버리지
                        </div>
                      </article>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          ACMG 지침에 따른 변이 병원성 평가
                        </div>
                      </article>
                    </div>
                  </div>
                </article>
                <article class='flex items-start gap-0'>
                  <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[900]'>
                    02
                  </div>
                  <div class='ml-[10px] pc:ml-[16px] flex-1'>
                    <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[600]'>
                      높은 정확도와 확장성
                    </div>
                    <div class='mt-[16px] text-[#161616] text-[14px] pc:text-[16px] font-[400] leading-[24px] max-pc:space-y-[2px]'>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          WES 검사를 기반으로 다른 제공업체들과 비교했을 때 높은 정확도와 확장성을 가지고 있습니다.
                        </div>
                      </article>
                    </div>
                  </div>
                </article>
                <article class='flex items-start gap-0'>
                  <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[900]'>
                    03
                  </div>
                  <div class='ml-[10px] pc:ml-[16px] flex-1'>
                    <div class='text-[#279FB9] text-[16px] pc:text-[20px] font-[600]'>
                      클라우드 서비스 통합
                    </div>
                    <div class='mt-[16px] text-[#161616] text-[14px] pc:text-[16px] font-[400] leading-[24px] max-pc:space-y-[2px]'>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          클라우드 서비스 통합을 통해 데이터의 효율적인
                          저장, 처리, 검색이 가능하며, 사용자들은
                          어디서든 언제든지 여러 기기에서 서비스를
                          이용할 수 있습니다.
                        </div>
                      </article>
                      <article class='flex items-start gap-0'>
                        <div>
                          <img src='/assets/icon/2309131349.svg' alt='' />
                        </div>
                        <div class='flex-1 break-keep'>
                          클라우드 환경에서 안전하고 신뢰성 있는 데이터
                          관리의 이점을 누리면서 사용자들은 개선된
                          효율성과 유연성을 경험할 수 있습니다.
                        </div>
                      </article>
                    </div>
                  </div>
                </article>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class='mt-[80px] pc:mt-[160px]'>
      <div class='py-[100px] pc:pt-[160px] pc:pb-[204px] pc:px-[var(--contents-side-padding)] bg-[#17344F]'>
        <article class='pc:flex pc:items-center pc:justify-center pc:gap-0'>
          <div class='max-pc:px-[18px] max-pc:overflow-x-auto'>
            <img class='max-pc:min-w-[898px]' src='/assets/image/2309181725.png' alt='' />
          </div>
        </article>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>