<footer class='Footer_1'>
  <div>
    <section data-seq='20230816165525946' class='pt-[50px] pc:pt-[80px]'>
      <div class='HBox'>
        <div class='Inner'>
          <article class='pc:mr-[0.69%] pc:flex pc:items-start pc:justify-between pc:gap-0'>
            <div class='pc:pb-[104px]'>
              <div>
                <img class='max-pc:w-[150px]' src='/assets/logo/logo_2.svg' alt='' />
              </div>
              <div class='mt-[30px] pc:mt-[60px]'>
                <div class='AddressBox_1'>
                  <div>상호명 : 엠허브제노플랜㈜</div>
                  <div>대표이사 : 전병주 <span class='max-pc:hidden'> | 소재지 : 서울시 서초구 강남대로 465 교보타워 B동 21층</span></div>
                  <div class='pc:hidden'>소재지 : 서울시 서초구 강남대로 465 교보타워 B동 21층</div>
                  <div>대표전화 : 1577-6370</div>
                  <div>사업자 등록번호 : 120-88-12093</div>
                  <div>통신판매업신고번호 : 2018-서울서초-2119</div>
                </div>
                <!--<article class='CopyrightBox_1 CenterLeft' style='margin-top:30px;'>
                  <div>엠허브제노플랜㈜</div>
                </article>-->
              </div>
            </div>
            <div class='max-pc:mt-[50px] max-pc:pb-[48px]'>
              <a class='ButtonUi Style4 gap-[2px] min-w-[162px] pc:min-w-[190px] h-[40px] pc:h-[48px] text-[12px] pc:text-[16px] font-[600]' href='https://www.google.com' target='_blank'>
                체질 30종 코드입력
                <img src='/assets/icon/2309261058.svg' alt='' />
              </a>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</footer>