<div class='PcTopActionBar_1'>
  <div class='HBox h-full'>
    <div class='Inner h-full'>
      <article class='CenterBetween h-full'>
        <div>
          <a href='https://www.google.com' target='_blank'>
            <img class='w-[170px]' src='/assets/logo/logo_1.svg' alt='' />
          </a>
        </div>
        <div>
          <script>Include('/hbs/component/GNB_2-a.hbs');</script>
        </div>
      </article>
    </div>
  </div>
</div>